<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton [style]="{margin: '0 10px'}" (click)="showActivityDialog()" class="p-button-success"
            type="button" label="New activity" icon="pi pi-plus"></button>
        <button pButton [style]="{margin: '0 10px'}" (click)="showCategoryDialog()" class="p-button-success"
            type="button" label="New category" icon="pi pi-plus"></button>
        <button pButton [style]="{margin: '0 10px'}" (click)="showMinutesDialog()" class="p-button-success"
            type="button" label="Calculate category minutes" icon="pi pi-chart-bar"></button>
    </div>
    <div class="p-toolbar-group-end">
        <form #queryPeriodForm="ngForm" (ngSubmit)="queryByPeriod(queryPeriodForm)">
            <div style="display: flex; align-items: center;">

                <div style="margin: 0 10px;">
                    <span>Start date: </span>
                    <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
                </div>

                <div style="margin: 0 10px;">
                    <span>End date: </span>
                    <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
                </div>

                <button type="submit" class="p-button p-button-success" icon="pi pi-filter" pButton
                    label="Send"></button>
            </div>
        </form>
    </div>

    <p-messages [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-messages>
</p-toolbar>
<div style="display: flex;">

</div>
<p-table (sortFunction)="customSort($event)" [value]="activities" [customSort]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="code" style="width:20%">Start date <p-sortIcon field="code"></p-sortIcon></th>
            <th>End date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
        <tr>
            <td>{{activity.startDate | transformDate}}</td>
            <td>{{activity.endDate | transformDate}}</td>
            <td>{{activity.title}}</td>
            <td [style.background-color]=activity.category.color>
                {{activity.category.name}}
            </td>
            <td>
                {{activity.description}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Add new activity" position="center" [(visible)]="displayActivityDialog" [draggable]="false"
    [style]="{width: '25vw'}">
    <form #activityForm="ngForm" (ngSubmit)="sendActivity(activityForm)">
        <div>
            <label for="title">Title</label>
            <input ngModel id="title" name="title" type="text" pInputText required="true">
        </div>

        <div>
            <label for="description">Description</label>
            <textarea pInputTextarea name="description" maxlength="255" ngModel required="true"></textarea>
        </div>

        <div>
            <label for="startDate">Start date</label>
            <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
        </div>

        <div>
            <label for="endDate">End date</label>
            <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
        </div>

        <div>
            <label for="category">Select a category</label>
            <p-dropdown [options]="categories" name="category" appendTo="body" optionLabel="name"
                [(ngModel)]="selectedEntity" (onItemClick)="onEntityClick($event)">
            </p-dropdown>
        </div>

        <p-messages [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-messages>
        <button type="submit" class="p-button p-button-success" pButton label="Send" [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>


<p-dialog header="Add new category" position="center" [(visible)]="displayCategoryDialog" [draggable]="false"
    [style]="{width: '25vw'}">
    <form #categoryForm="ngForm" (ngSubmit)="sendCategory(categoryForm)">
        <div>
            <label for="name">Name</label>
            <input ngModel id="name" name="name" type="text" pInputText required="true">
        </div>

        <div>
            <label for="color">Color</label>
            <input ngModel id="color" name="color" type="text" placeholder="In english" pInputText required="true">
        </div>

        <p-messages [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-messages>
        <button type="submit" class="p-button p-button-success" pButton label="Send" [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>

<p-dialog header="Query category minutes based on period" position="center" [(visible)]="displayMinutesDialog"
    [draggable]="false" [style]="{width: '25vw'}">
    <form #categoryMinutes="ngForm" (ngSubmit)="calculateMinutes(categoryMinutes)">
        <div>
            <label for="startDate">Start date</label>
            <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
        </div>

        <div>
            <label for="endDate">End date</label>
            <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
        </div>

        <div id="categoriesMinutes">
        </div>

        <button type="submit" class="p-button p-button-success" pButton label="Search" [style]="{margin: '10px 0'}"></button>
    </form>
    <p-messages [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-messages>
</p-dialog>