<ul>
    <li *ngFor="let activity of activities">{{ activity.title }}</li>
</ul>

<p-dialog header="Title" position="center" [(visible)]="display" [draggable]="false" [style]="{width: '25vw'}">
    <form #addForm="ngForm" (ngSubmit)="sendActivity(addForm)">
        <div>
            <label for="title">Title</label>
            <input ngModel id="title" name="title" type="text" pInputText required> 
        </div>

        <div>
            <label for="description">Description</label>
            <input ngModel id="description" name="description" type="text" pInputText required> 
        </div>

        <div>
            <div class="field col-12 md:col-4">
                <label for="time">Start date</label>
                <p-calendar ngModel name="startDate" [showTime]="true" [showSeconds]="true" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
            </div>
        </div>

        <div>
            <div class="field col-12 md:col-4">
                <label for="time">End date</label>
                <p-calendar ngModel name="finalDate" [showTime]="true" [showSeconds]="true" dateFormat="yy-mm-dd" appendTo="body"></p-calendar>
            </div>
        </div>

        <div>
            <label for="categories">Select a category</label>
            <p-listbox [style]="{margin: '10px 0'}" [options]="categories" ngModel name="category" id="categories" optionLabel="name"></p-listbox>
        </div>

        <button type="submit" (click)="showDialog()" pButton label="Send" [style]="{margin: '10px 0'}"></button>
            
    </form>
</p-dialog>

<div id="calendar-container">

</div>
<button id="prev-week-button">Previous Week</button>
<button id="next-week-button">Next Week</button>
