label {
    display: block;
    margin: 10px 0;
}

#categoriesMinutes {
    margin: 5px 0;
    font-size: large;
}

#msg {
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.category-item{
    display: flex;
}