<!-- Toolbar -->
<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton [style]="{margin: '0 10px'}" (click)="showActivityDialog()" class="p-button-success"
            type="button" label="New activity" icon="pi pi-plus"></button>
        <button pButton [style]="{margin: '0 10px'}" (click)="showCategoryDialog()" class="p-button-success"
            type="button" label="New category" icon="pi pi-plus"></button>
        <button pButton [style]="{margin: '0 10px'}" (click)="showMinutesDialog()" class="p-button-success"
            type="button" label="Calculate category minutes" icon="pi pi-chart-bar"></button>
    </div>
    <div class="p-toolbar-group-end">
        <form #queryPeriodForm="ngForm" (ngSubmit)="queryByPeriod(queryPeriodForm)">
            <div style="display: flex; align-items: center;">
                <div style="margin: 0 10px;">
                    <span>Start date: </span>
                    <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
                </div>
                <div style="margin: 0 10px;">
                    <span>End date: </span>
                    <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
                </div>
                <button type="submit" class="p-button p-button-success" icon="pi pi-filter" pButton label="Send"
                    [disabled]="queryPeriodForm.invalid"></button>
            </div>
        </form>
    </div>

</p-toolbar>

<!-- Table of activities -->
<p-table (sortFunction)="customSort($event)" [value]="activities" [customSort]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="code" style="width:20%">Start date <p-sortIcon field="code"></p-sortIcon></th>
            <th>End date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Remove</th>
            <th>Update</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
        <tr>
            <td>{{activity.startDate | transformDate}}</td>
            <td>{{activity.endDate | transformDate}}</td>
            <td>{{activity.title}}</td>
            <td [style.background-color]=activity.category.color>
                {{activity.category.name}}
            </td>
            <td>
                {{activity.description}}
            </td>
            <td><button pButton label="Remove" icon="pi pi-trash" type="button" class="p-button p-button-danger"
                    (click)="deleteActivity(activity)"></button></td>
            <td><button pButton label="Update" icon="pi pi-pencil" type="button" class="p-button p-button-warning"
                    (click)="setUpdateValues(activity)"></button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            <button pButton style="margin: 0 10px;" class="p-button-rounded p-button-warning" icon="pi pi-refresh"
                (click)="refreshTable()"></button>
            <span>
                In total there are {{activities ? activities.length : 0 }} activities.
            </span>
        </div>
    </ng-template>
</p-table>

<!-- Add activity modal -->
<p-dialog header="Add new activity" position="center" [(visible)]="displayActivityDialog" [draggable]="true"
    [style]="{width: '25vw'}">
    <form #activityForm="ngForm" (ngSubmit)="sendActivity(activityForm)">
        <div>
            <label for="title">Title</label>
            <input ngModel id="title" name="title" type="text" pInputText required="true">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea pInputTextarea name="description" id="description" maxlength="255" ngModel
                required="false"></textarea>
        </div>
        <div>
            <label for="startDate">Start date</label>
            <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
        </div>
        <div>
            <label for="endDate">End date</label>
            <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
        </div>
        <div>
            <label for="category">Select a category</label>
            <p-dropdown [options]="categories" name="category" appendTo="body" optionLabel="name"
                [(ngModel)]="selectedEntity" (onItemClick)="onEntityClick($event)">
                <ng-template pTemplate="selectedItem">
                    <div class="category-item category-item-value " *ngIf="selectedEntity">
                        <div style="width: 5px; height: 100; margin-right: 5px;"
                            [style.background-color]=selectedEntity.color></div>
                        <div>{{selectedEntity.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-category pTemplate="item">
                    <div class="category-item">
                        <div style="width: 5px; height: 100; margin-right: 5px;"
                            [style.background-color]=category.color></div>
                        <div>{{category.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <button type="submit" [disabled]="activityForm.invalid" class="p-button p-button-success" pButton label="Send"
            [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>

<!-- update a activity modal -->
<p-dialog header="Update a activity" position="center" [(visible)]="displayUpdateActivityDialog" [draggable]="true"
    [style]="{width: '25vw'}">
    <form #updateForm="ngForm" (ngSubmit)="updateActivity(updateForm)">
        <div>
            <label for="title">Title</label>
            <input ngModel={{updatedActivity?.title}} id="title" name="title" type="text" pInputText required="true">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea pInputTextarea name="description" id="description" maxlength="255"
                ngModel={{updatedActivity?.description}} required="false"></textarea>
        </div>
        <div>
            <label for="startDate">Start date</label>
            <input ngModel={{updatedActivity?.startDate}} name="startDate" type="datetime-local" pInputText
                required="true">
        </div>
        <div>
            <label for="endDate">End date</label>
            <input ngModel={{updatedActivity?.endDate}} name="endDate" type="datetime-local" pInputText required="true">
        </div>
        <div>
            <label for="category">Select a category</label>
            <p-dropdown [options]="categories" name="category" appendTo="body" optionLabel="name"
                [(ngModel)]="selectedEntity" (onItemClick)="onEntityClick($event)">
                <ng-template pTemplate="selectedItem">
                    <div class="category-item category-item-value " *ngIf="selectedEntity">
                        <div style="width: 5px; height: 100; margin-right: 5px;"
                            [style.background-color]=selectedEntity.color></div>
                        <div>{{selectedEntity.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-category pTemplate="item">
                    <div class="category-item">
                        <div style="width: 5px; height: 100; margin-right: 5px;"
                            [style.background-color]=category.color></div>
                        <div>{{category.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <button type="submit" [disabled]="updateForm.invalid" class="p-button p-button-success" pButton label="Send"
            [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>

<!-- add category modal -->
<p-dialog header="Add new category" position="center" [(visible)]="displayCategoryDialog" [draggable]="true"
    [style]="{width: '25vw'}">
    <form #categoryForm="ngForm" (ngSubmit)="sendCategory(categoryForm)">
        <div>
            <label for="name">Name</label>
            <input ngModel id="name" name="name" type="text" pInputText required="true">
        </div>
        <div>
            <label for="color">Color</label>
            <input ngModel id="color" name="color" type="text" placeholder="e.g. 'red' or '#f0fff0'" pInputText
                required="true">
        </div>
        <button type="submit" class="p-button p-button-success" [disabled]="categoryForm.invalid" pButton label="Send"
            [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>


<!-- calculate minutes from categories modal -->
<p-dialog header="Query category minutes based on period" position="center" [(visible)]="displayMinutesDialog"
    [draggable]="true" [style]="{width: '25vw'}">
    <form #categoryMinutes="ngForm" (ngSubmit)="calculateMinutes(categoryMinutes)">
        <div>
            <label for="startDate">Start date</label>
            <input [(ngModel)]="startDate" name="startDate" type="datetime-local" pInputText required="true">
        </div>
        <div>
            <label for="endDate">End date</label>
            <input [(ngModel)]="endDate" name="endDate" type="datetime-local" pInputText required="true">
        </div>
        <div id="categoriesMinutes">
        </div>
        <button type="submit" [disabled]="categoryMinutes.invalid" class="p-button p-button-success" pButton
            label="Search" [style]="{margin: '10px 0'}"></button>
    </form>
</p-dialog>
<p-toast></p-toast>